*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-family: "Roboto", sans-serif;
    --primary-text-color: #434455;
    --white: #ffffff;
    --logo-color: #4D5AE5;
    --lilac: #404bbf;
    --logo-color-second: #2e2f42;
    --white-second: #f4f4fd;
    --cornflower: #E7E9FC;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
    background-color: #ffffff;
}


.link {
    text-decoration: none;
}

.list {
    list-style: none;
}


/**______index.html______**/

/**_____HEADER____**/

.header-container {
    display: flex;
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    display: flex;
    border-bottom: 1px solid #e7e9fc;
    background: var(--white, #FFF);
    padding: 0 15px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    ;
}

.header-logo {
    color: var(--logo-color);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
}

.link {
    text-decoration: none;
}

.header-logo-accent {
    color: var(--logo-color-second);
}

.link {
    text-decoration: none;
}


/**__menu__**/


.header-nav {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    gap: 40px;
}

.header-list {
    padding: 24px 0;
    display: block;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
    position: relative;
    color: var(--lilac);
}

.current:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    display: block;
    border-radius: 2px;
    background-color: var(--lilac);
}

.header-address {
    display: flex;
    gap: 40px;
}


.menu-link {
    color: var(--logo-color-second);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.menu-link:hover {
    color: var(--lilac);
}

.menu-link:focus {
    color: var(--lilac);
}

.contacts-link {
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link {
    color: var(--primary-text-color);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts-link:hover {
    color: var(--lilac);
}

.contacts-link:focus {
    color: var(--lilac);
}

/**_____Section1____**/

.container {
    width: 100%;
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    padding: 0 15px;
}

.advantages-section-list {
    padding: 188px 0;
    max-width: 1440px;
    background: var(--logo-color-second);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/hero.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1126px;
    }
}


.head-text {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    display: block;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.head-btn {
    color: var(--white);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    background: var(--logo-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    min-width: 169px;
    border: 0;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-btn:hover {
    background-color: var(--lilac);
}

.head-btn:focus {
    background-color: var(--lilac);
}


/**_____Section2_____**/

 .advantages-list {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 24px;

 }

 @media only screen and (min-width: 768px) {
     .advantages-list {
         max-width: 552px;
         margin: auto;
     }
 }

 @media only screen and (min-width:1158px) {
     .advantages-list {
         max-width: 1128px;

     }
 }

 @media only screen and (min-width: 768px) {
     .advantages-item {
         row-gap: 72px;
         column-gap: 24px;

         width: calc((100% - 1*24px) / 2);
     }
 }

 @media only screen and (min-width: 1158px) {
     .advantages-item {
         display: block;
         width: calc((100% - 72px) / 4);
     }
 }

 .advant-icon-div,
 .advant-icon {
     display: none;
 }

 @media only screen and (min-width: 1158px) {
     .advant-icon-div {
         display: flex;
         justify-content: center;
         align-items: center;

         width: 264px;
         height: 112px;
         padding-top: 24px;
         padding-bottom: 24px;
         padding-left: 100px;
         padding-right: 100px;
         border-radius: 4px;
         margin-bottom: 8px;

         background-color: var(--text-footer);
     }
 }

 @media only screen and (min-width: 1158px) {
     .advant-icon {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 64px;
         height: 64px;

     }
 }

 .advant-title {
     color: var(--logo-dark);
     font-weight: 400;
     font-size: 26px;
     line-height: 1.1;
     letter-spacing: 0.02em;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 8px;
 }

 @media only screen and (min-width: 768px) {
     .advant-title {
         display: block;
     }
 }

 @media only screen and (min-width: 1158px) {
     .advant-title {
         font-weight: 500;
         font-size: 20px;
         line-height: 1.2;
     }
 }

 .advant-subtitle {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: var(--color-text);
     align-items: center;
     /* padding-bottom: 72px; */
 }

 @media only screen and (min-width: 1158px) {
     .advant-subtitle {
         font-weight: 400;
     }
 }

/**_____Section3____**/


.section-list {
   /*padding-bottom: 120px;
    background-color: var(--white);*/
    display: none;
}
  @media only screen and (min-width: 1158px) {
      .section-list {
          padding-bottom: 120px;
          display: block;
      }

      .section-title {
          font-weight: 700;
          font-size: 36px;
          line-height: 1.11;
          text-align: center;
          letter-spacing: 0.02em;
          text-transform: capitalize;
          color: var(--logo-dark);

          margin-bottom: 72px;
      }

      .advantages-item {
          width: calc((100% - 48px) / 3);
      }
  }

.section-title {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 36px;
    margin-bottom: 72px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.advantages-list {
    display: flex;

}

.advantages-item {
    width: calc((100% - 48px) / 3);
    gap: 24px;
}

/**____Section4____**/


.team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-position {
    margin-bottom: 24px;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.container-team-position {
    padding: 32px 0;
}

.team-social-icons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-icons-item {
    width: 40px;
    height: 40px;
}

.team-social-icons-link {
    width: 100%;
    height: 100%;
    background-color: var(--logo-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icons-link:hover,
.team-social-icons-link:focus {
    background-color: #404bbf;
}

.team-social-icons-icon {
    fill: var(--white-second);
}


/**______SECTION_5____**/

.customers-section {
    padding: 120px 0;
    background-color: var(--white);
}

.customers-title {
    color: var(--logo-color-second);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
}


.customer-list {
    display: flex;
    gap: 24px;
}

.customer-item {
    width: calc((100% - 5 * 24px) / 6);
    height: 88px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.customer-icon {
    fill: currentColor;
}

.customers-link {
    width: 168px;
    height: 88px;
    border: 1px solid rgba(142, 143, 153, 1);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    color: #8E8F99;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    border-color: #404bbf;
    color: #404bbf;
}




/**_____FOOTER_____**/

.footer {
    background: var(--logo-color-second);
    flex-shrink: 0;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-texts {
    margin-right: 120px;
}


.footer-logo {
    color: var(--logo-color);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-accent {
    justify-content: center;
    color: #f4f4fd;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: inline-flex;
}

.footer-content {
    color: var(--cloud, #F4F4FD);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.32px;
    width: 268px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--logo-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-icon {
    fill: var(--white-second);
}

/**_____PORTFOLIO.HTML____**/


/**_____HEADER_____**/

.header-list {
    padding: 24px 0;
}

/**____SECTION___**/


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block;
}

.portfolio-imges {
    list-style: none;
    background-color: #fff;
}

.portfolio-buttons {
    padding-top: 96px;
    padding-bottom: 120px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.partfolio-btn {
    color: #4D5AE5;
    text-align: center;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: #f4f4fd;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partfolio-btn:hover {
    color: #ffffff;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.partfolio-btn:focus {
    color: #ffffff;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.head-btn:hover,
.head-btn:focus {
    background-color: var(--lilac);
    color: #fff;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}


.partfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.partfolio-item {
    width: calc((100% - 48px) / 3);
    flex-wrap: wrap;
    gap: 24px;
}

.portfolio-item link {
    text-decoration: none;
}

.portfolio-img {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img:hover,
.portfolio-img:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img:hover .overlay-text,
.portfolio-img:focus .overlay-text {
    transform: translateY(0%);
}

.partfolio-title {
    color: var(--logo-color-second);
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.partfolio-subtitle {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-card {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-second);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**____PARTFOLIO___FOOTER______**/

.partfolio-footer {
    background: var(--logo-color-second);
    padding-top: 100px;
    padding-bottom: 100px;
}

.partfolio-footer-logo {
    color: var(--logo-color);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    margin-bottom: 16px;
}

.partfolio-footer-logo-accent {
    justify-content: center;
    color: #f4f4fd;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.partfolio-footer-content {
    color: var(--cloud, #F4F4FD);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    width: 268px;
}


/*_____MODAL______*/

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background: var(--dairy, #FCFCFC);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.close-modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn:hover {
    background-color: var(--lilac);
    border: none;
    fill: #ffffff;
}
.close-modal-btn:focus {
    background-color: var(--lilac);
    border: none;
    fill: #ffffff;
}

.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--logo-color-second);
    margin-bottom: 16px;
}

.input-container {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.input-container {
    position: relative
}

.modal-input {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 1.17;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
    border-color: var(--logo-color);
}

.modal-input:focus + .modal-icon-label {
    fill: #4D5AE5;
}

.modal-icon-label {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-container {
    margin-bottom: 16px;
}

.modal-textra {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textra:focus {
    border-color: var(--logo-color);
}

.checkbox-modal {
    margin-bottom: 24px;
}

.textra-label {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
        /* 116.667% */
    letter-spacing: 0.04em;
}

.label-span {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-privacy:checked + .textra-label .label-span {
    background-color: var(--lilac);
    border: none;
    fill: var(--white-second);
}

.textra-link {
    color: var(--logo-color);
}

.subscribe-footer {
margin-left: 80px;
}

.sub-form {
    display: flex;
        gap: 24px;
}

.subscribe-title {
margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-input {
width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

.subscribe-btn {
    min-width: 165px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4d5ae5;
        border: none;
        border-radius: 4px;
}

.sub-icon {
    fill: #ffffff;
    margin-left: 16px;
}

.input-div {
    margin-bottom: 8px;
}

.send-btn {
    display: block;
    color: var(--white);
    min-width: 169px;
    min-height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-btn:hover,
.send-btn:focus {
    background-color: var(--lilac);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


/**______mobile-menu_______**/

.mob-menu.is-open {
    transform: translateX(0);
}

.mob-menu {
    position: fixed;
    color: var(--white);
        top: 0;
        left: 0;
        background: #FFF;
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
        width: 100vw;
        /* width: 100%; */
        height: 100vh;
        z-index: 2;
        padding: 24px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
}

.menu-close-btn {
    display: block;
    margin-left: auto;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close-btn:hover,
.menu-close-btn:focus {
    background-color: var(--lilac);
}

.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-list {
    margin-top: 56px;
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link-study {
    color: var(--ocean, #404BBF);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.mob-menu-link {
    color: var(--navyblue, #2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.mob-address {
    display: block;
}

.mob-address-list-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-address-link-phone {
    color: var(--iris, #4D5AE5);
    /* font-size: 36px; */
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.mob-address-link-mail {
    color: var(--slate, #434455);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}


@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }

}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .advant-section-list {
        padding: 120px 0;
    }
}

@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}